.venv/*
.venv/
*.JPG
*.CR3
stacks/*
__pycache__/*
__pycache__/
COLMAP_ROOM/*
COLMAP_ROOM/
COLMAP_SCENE/*
COLMAP_SCENE/
single_focus_checkerboard/*.JPG
bokeh_calib_photos/*/*.JPG
checkerboard_images/*/*.JPG
depth_groups/*/*.JPG
*.db
*.pyc
*.xmp